/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
/* Beginning of my code */
section,
header,
div,
p,
h1,
h2,
img,
nav,
a {
  border: 1px solid purple;
}
html {
  font-size: 62.5%;
}
body {
  margin: auto;
  width: 80%;
}
header {
  display: flex;
  justify-content: center;
}
header nav {
  margin: 2% 0;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  padding: 0 2%;
  color: darkorchid;
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
header nav a:hover {
  color: orchid;
}
.intro-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.intro-section div {
  width: 49%;
  color: darkmagenta;
}
.intro-section div h1 {
  font-size: 2.6rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  padding: 2% 0;
}
.intro-section div p {
  padding: 2% 0;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.intro-section div img {
  width: 100%;
}
.skills-history-section {
  display: flex;
  justify-content: space-around;
  margin: 2% 0;
}
.skills-history-section div {
  width: 49%;
  color: darkmagenta;
  margin: 2% 0;
}
.skills-history-section div h2 {
  font-size: 2rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 2% 0;
}
.skills-history-section div ul {
  margin: 0 3%;
}
.skills-history-section div ul li {
  padding: 1% 0;
  list-style-type: square;
  line-height: 2rem;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.contact-info {
  text-align: center;
  color: darkmagenta;
  margin: 2% 0;
}
.contact-info h2 {
  font-size: 2rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin: 2% 0;
}
.contact-info p {
  padding: 1% 0;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.attribution {
  text-align: center;
  color: orchid;
  margin: 2% 0;
  font-size: 1.6rem;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}
